pkgbase = rofi-pass-git
	pkgdesc = bash script to handle pass storages in a convenient way
	pkgver = 5.f4255a9
	pkgrel = 1
	url = https://github.com/carnager/rofi-pass
	install = rofi-pass.install
	arch = any
	license = GPL
	makedepends = git
	depends = xorg-xprop
	depends = wmctrl
	depends = rofi-git
	depends = pass
	depends = xdotool
	depends = xclip
	source = git+http://git.53280.de/rofi-pass
	md5sums = SKIP

pkgname = rofi-pass-git

