# set path to password store
basedir=~/.password-store/

# optional rofi parameters:
# keep in mind that 0.15.7 has different arguments compared to
# latest git. for rofi-pass this means that "-i" will not work with
# 0.15.7.
rofiopts="-no-levenshtein-sort"

# fields to be used
URL_field='URL'
USERNAME_field='UserName'
AUTOTYPE_field='autotype'

## Programs to be used
# Editor
EDITOR='gvim -f'

# Browser
BROWSER='chromium'

## Misc settings

help_color='#0C73C2'
auto_enter='false'

# Clipboard settings
# Possible options: primary, clipboard, both
clip=primary

# Custom Keybindings
autotype="Alt+1"
type_user="Alt+2"
type_pass="Alt+3"
open_url="Alt+4"
copy_name="Alt+u"
copy_pass="Alt+p"
edit="Alt+9"
move="Alt+2"
delete="Alt+3"
copy_entry="Alt+c"
clip=primary
show="Control+Return"
