# set path to password store
basedir=~/.password-store/

# fields to be used
URL_field='URL'
USERNAME_field='UserName'

## Programs to be used
# Editor
EDITOR='gvim -f'

# Browser
BROWSER='chromium'

## Misc settings

help_color="#0C73C2"

## rofi expects a root directory in your basedir
## underneath this directory all your password groups
## are stored inside directories.
## if you don't want to separate roots, enable this setting
#root=.
